@import "@fontsource/dosis/latin-500.css";
@import "@fontsource/montserrat/latin-200.css";

$minWidth: 1250px;
$headerHeight: 108px;
$footerHeight: 46px;
$mainZoom: calc(min(var(--doc-w)/1200, var(--doc-h)/1800));

$resumeWidth: 845px;
$resumeHeight: 1164px;

$white: hsl(0, 0%, 98%);
$yellow: hsl(60, 100%, 40%);
$shadow: hsla(0,0%,0%,0.35);

:root {
   --doc-height: 100%;
   --doc-width: 100%;
   --doc-h: 100%;
   --doc-w: 100%;
   --scroll-height: 100%;
}

//@media screen and (max-width: 1440px) {html {zoom: calc(1440/1680);}}
//@media screen and (max-width: 1280px) {html {zoom: calc(1280/1680);}}
//@media screen and (max-width: 1024px) {html {zoom: calc(1024/1680);}}
//@media screen and (max-width: 824px) {html {zoom: calc(824/1680);}}
//@media screen and (max-width: 768px) {html {zoom: calc(768/1680);}}

html, body {
   background-color: $white;
   padding: 0;
   margin: 0;
   color: black;
   font-family: "Dosis", sans-serif;
   font-size: 24px;
   height: 100vh; //for initial load
   height: var(--doc-height); //after JS sets prop
   overflow: hidden;
   -webkit-tap-highlight-color: transparent;
}

#app {
   width: 100%;
   min-width: $minWidth;
   background-color: $white;
}

.no-style-button {
   font: inherit;
   color: inherit;
   outline: none;
   border: none;
   background: none;
   margin: 0;
   padding: 0;
   cursor: pointer;
}

header {
   $padTB: 5px;
   $padLR: 40px;
   position: fixed;
   width: calc(100% - 2*$padLR);
   height: calc($headerHeight - 2*$padTB);
   min-width: inherit;
   max-width: inherit;
   display: flex;
   align-items: center;
   background-color: black;
   color: white;
   padding: $padTB $padLR;
   #works-section {
      width: 180px;
      display: flex;
      align-items: center;
      #works-button {
         height: 70px;
         color: white;
         //transition: color 0.5s;
         &:focus {outline: none;}
         &:hover, &:focus-visible {@media (hover: hover) {
            color: $yellow;
            cursor: pointer;
         }}
         &:active {
            color: $yellow;
         }
         > span {height: inherit;}
         .hamburger-icon {
            transition: color 0.5s;
            height: inherit;
            margin-right: 25px;
         }
      }
      #works-link {
         &.active {
            & + #works-label {
               transition: color 0.5s;
               text-decoration: underline;
            }
            &:not(:hover,:focus-visible) + #works-label {
               transition: color 0.5s;
               color: $yellow;
            }
         }
         &:focus, &:hover {
            outline: none;
            & #works-button {
               & .hamburger-icon{
                  transition: color 0.5s;
                  color: $yellow;
               }
            }
         }
      }
   }
   #profile-section {
      margin-left: auto;
      display: flex;
      gap: 120px;
      align-items: center;
      nav {
         display: flex;
         gap: 40px;
         a {
            color: inherit;
            text-decoration: none;
            height: $headerHeight;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            background: transparent;
            transition: background-color 0.5s, color 0.5s;
            &:focus {outline: none;}
            &:hover, &:focus-visible {@media (hover: hover) {
               background: $yellow;
            }}
            &:active {
               background: $yellow;
               -webkit-tap-highlight-color: transparent;
            }
         }
         & >.active {
            text-decoration: underline;
            @media (hover: none) {
               &:not(:active) {
                  color: $yellow;
               }
            }
            &:not(:hover,:focus-visible) {
               color: $yellow;
            }
         }
      }
      #photo-container {
         $lgRadius: 35px;
         $smRadius: 8px;
         display: flex;
         width: 250px;
         flex-direction: row;
         flex-wrap: wrap;
         column-gap: 3px;
         row-gap: 2px;
         margin-top: 5px;
         align-items: center;
         justify-content: center;
         font-size: 18px;
         img {
            width: 70px;
         }
         #google-photo {
            border-radius: $lgRadius $smRadius $smRadius $lgRadius;
         }
         #github-photo {
            border-radius: $smRadius $lgRadius $lgRadius $smRadius;
         }
         #birth-name {
            font-weight: bold;
         }
         #github-username {
            color: gray;
         }
      }

   }

}

aside {
   $height: 140px;
   position: fixed;
   z-index: 10;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   right: 6px;
   top: calc(50% - $height/2);
   padding: 10px 4px;
   border-radius: 10px 0 0 10px;
   height: $height;
   width: 40px;
   background-color: white;
   box-shadow: 0 0 10px $shadow;
   a, .icon {
      color: inherit;
      transition: color 0.1s, transform 0.1s;
      &:hover, &:focus {
         color: $yellow;
         cursor: pointer;
         transform: translateX(-1px);
         outline: none;
      }
   }
   .gmail-icon {
      margin: -5px 0 -10px 0;
   }
}

main {
   $mainPad: 50px;
   overflow-y: scroll;
   position: absolute;
   top: $headerHeight;
   right: 0;
   bottom: $footerHeight;
   left: 0;
   background-color: $white;
   min-width: $minWidth;
   min-height: calc(var(--doc-height) - $headerHeight - $footerHeight - 2*$mainPad);
   padding: $mainPad;
   &[id="home"] {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      background-image: radial-gradient(circle, $white 58%, hsla(0, 0%, 100%, 0.55)), linear-gradient(135deg, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 0%, 0.1));
      #center-content {
         zoom: $mainZoom;
         animation: 2s slide-up, 5s fade-in;
         position: relative;
         top: -360px;
         .speech-bubble-icon {
            position: relative;
            top: 520px;
            transform: scale(140%) translateX(-18px);
            color: hsl(0, 0%, 90%);
         }
         h1 {
            font: bold 80px "Montserrat", sans-serif;
            margin: 0 -7px;
            & + div {
               color: gray;
            }
         }
         .link {
            display: block;
            width: 200px;
            height: 44px;
            margin: 38px 0;
            font: bold 24px "Montserrat", sans-serif;
            text-decoration: none;
            color: black;
            outline: none;
            &:focus {
               outline: none;
               & #projects-button {
                  //color: $yellow;
                  text-decoration: underline;
                  transform: translateY(-2px) translateX(-2px);
                  box-shadow: 6px 6px 18px black;
                  animation: rotate-border 2s linear infinite;
               }
            }
         }
         #projects-button {
            width: 200px;
            height: 44px;
            padding-bottom: 2px;
            border: 5px solid hsla(0,0%,0%,0.5);
            border-image-slice: 1;
            border-image-source: linear-gradient(135deg, darkmagenta, royalblue);
            box-shadow: 4px 4px 12px black;
            transition: transform 0.4s, box-shadow 0.4s;
            &:hover, &:focus {
               transform: translateY(-2px) translateX(-2px);
               box-shadow: 6px 6px 18px black;
               outline: none;
               animation: rotate-border 2s linear infinite;
            }
            animation: zoom-flash 1.9s ease-in 1.6s forwards; //1.7 1.4
         }
         @keyframes slide-up {
            0% {transform: translateY(200px);}
            100% {transform: translateY(0);}
         }
         @keyframes zoom-flash {
            50% {box-shadow: 0 0 12px yellow; transform: scale(105%);}
            55% {box-shadow: 0 0 72px yellow;}
         }
         @keyframes rotate-border {
            0% {border-image-source: linear-gradient(135deg, darkmagenta, royalblue);}
            10% {border-image-source: linear-gradient(171deg, darkmagenta, royalblue);}
            20% {border-image-source: linear-gradient(207deg, darkmagenta, royalblue);}
            30% {border-image-source: linear-gradient(244deg, darkmagenta, royalblue);}
            40% {border-image-source: linear-gradient(280deg, darkmagenta, royalblue);}
            50% {border-image-source: linear-gradient(316deg, darkmagenta, royalblue);}
            60% {border-image-source: linear-gradient(352deg, darkmagenta, royalblue);}
            70% {border-image-source: linear-gradient(28deg, darkmagenta, royalblue);}
            80% {border-image-source: linear-gradient(64deg, darkmagenta, royalblue);}
            90% {border-image-source: linear-gradient(100deg, darkmagenta, royalblue);}
            100% {border-image-source: linear-gradient(135deg, darkmagenta, royalblue);}
         }
      }
   }
   &[id="works"] {
      $worksPad: calc(max(50vw - $minWidth/2, $mainPad + 30px));
      animation: fade-bg-to-black 2s;
      background: black;
      text-wrap: nowrap;
      & > div {
         animation: slide-down 0.85s;
         background: #5d5d5d;
         //background-image: radial-gradient(circle, #666 58%, hsla(0, 0%, 80%, 0.55)), linear-gradient(135deg, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 0%, 0.1));
         border-radius: 0 20px 20px 20px;
         margin-top: -$mainPad;
         margin-left: -$mainPad;
         & > div {
            animation: fade-in 2s ease-in;
            padding: $mainPad $worksPad;
         }
      }
      .collapsible {
         $collapsiblePad: 18px;
         $collapsibleContentPad: 20px;
         background: #585858;
         //margin-left: 24px;
         margin-top: 5px;
         padding: 6px $collapsiblePad;
         width: 100%;
         text-align: left;
         //transition: border-radius 0.25s;
         //transition: background-color 0.1s;
         .icon {
            height: 20px;
            margin-right: 10px;
         }
         &:hover, &.active {
            background: #545454;
         }
         &:focus-visible:before {
            content: ">";
            position: absolute;
            color: $white;
            translate: -38px -2px 0;
         }
         & + .collapsible-content {
            overflow: hidden;
            white-space: pre-line;
            //margin-left: 24px;
            background: #5a5a5a;
            width: 100%;
            border-radius: 0 0 20px 20px;
            & > div {
               padding: $collapsibleContentPad;
               display: flex;
               flex-wrap: wrap;
               justify-content: space-between;
               align-content: space-between;
               gap: 10px;
               & > img {flex: 1;}
            }
            img {
               width: 31.25%;
               //margin: 0 1%;
               border-radius: 5px;
               &.active {
                  position: fixed;
                  left: $mainPad;
                  top: calc($headerHeight + $mainPad);
                  width: calc(var(--doc-width) - 3*$mainPad);
                  z-index: 2;
                  &:hover {
                     cursor: zoom-out;
                  }
               }
               &:not(.active):hover {
                  cursor: zoom-in;
               }
            }
            &:has(img.active):before {
               content: "";
               position: fixed;
               top: $headerHeight;
               left: 0;
               width: var(--doc-width);
               height: var(--doc-height);
               backdrop-filter: blur(30px);
               z-index: 1;
            }
            .game-demo-video {
               width: 100%;
               min-width: calc(100vw - 2*$worksPad - 3*$collapsiblePad - 2*$collapsibleContentPad);
               border-radius: 5px;
               aspect-ratio: 16/9;
            }
         }
         &:not(.active) {
            border-radius: 20px;
            &:after {
               content: "+";
               font-size: 40px;
               line-height: 20px;
               float: right;
               color: #464646;
            }
            & + .collapsible-content {
               max-height: 0;
               transition: max-height 0.25s ease-out;
               & > div {visibility: hidden;}
            }
         }
         &.active {
            border-radius: 20px 20px 0 0;
            &:after {
               content: "-";
               font-size: 40px;
               line-height: 20px;
               float: right;
               color: #393939;
            }
            & + .collapsible-content {
               max-height: 5000px;
               transition: max-height 0.8s ease-out;
            }
         }
      }
      a {
         text-decoration: none;
         color: $yellow;
         &:hover, &:focus {
            text-decoration: underline;
            outline: none;
         }
      }
      .course {
         margin-right: 4px;
         padding: 0 4px 4px 4px;
         background: hsl(0,0%,18%);
         color: hsl(0,0%,60%);
         border-radius: 5px;
      }
      .text-icon-span {
         display: flex;
         gap: 20px;
         &:has(h2) {
            //margin-top: 60px;
            //margin-bottom: 0.83em; //default h2 value
            align-items: end;
            //border-bottom: 1px solid #555;
         }
         & h1, h2 {
            margin: 0;
         }
         & .icon {
            color: #484848;
         }
         & .icon:not(.github-icon,.github-pages-icon) {
            width: 36px;
         }
         & .github-pages-combo-icon {
            width: 60px;
            translate: 0 6px 0;
         }
         & .bsu-icon {
            width: 180px !important;
            margin-left: -10px;
         }
      }
      hr {
         border: 1px solid hsl(0,0%,45%); //31%l
         margin: 90px 0;
      }
      h1, h2 {
         font-family: "Montserrat", sans-serif;
      }
      h1 {
         //text-align: center;
         text-transform: uppercase;
         translate: -30px 0 0;
         color: $white; //hsl(260, 65%, 54%) hsl(60, 100%, 30%)
      }
      .h2-bg {
         width: calc(max(100vw - 2*$worksPad - 100px, $minWidth - (100px + $mainPad)));
         height: 50px;
         background-image: linear-gradient(-130deg, hsl(0,0%,36%,1) 2%, hsla(0,0%,0%,0.1)), linear-gradient(180deg, #444, #0A0A0A);
         border-radius: 50px 10px 50px 10px;
         position: absolute;
         padding: 5px 20px 0;
         box-shadow: #CCCC0066 0 2px 12px;
         clip-path: inset(0 0 -18px 0 round 50px 10px 50px 10px);
      }
      .spacer {
         height: 55px;
         margin-top: 55px;
         margin-bottom: 20px;
      }
      h2 {
         color: purple; //fallback for no gradient
         background: -webkit-linear-gradient(-90deg, darkmagenta, royalblue);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         margin: 0;
      }
      li {
         height: 40px;
         line-height: 40px;
         &.continuation {
            list-style-type: none;
         }
      }
   }
   &[id="about"] {
      animation: fade-in 2s;
   }
   &[id="skills"] {
      animation: fade-in 2s;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: safe center;
      //align-items: center;
      align-content: safe center;
      gap: 15px;
      background-image:
            radial-gradient(circle, hsla(0, 0%, 100%, 0.21) 58%, hsla(0, 0%, 100%, 0.27)),
            linear-gradient(135deg, hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.1)),
            url("https://drive.google.com/uc?export=view&id=1XWUzQ85lVPHTda7485GWxh2kD3LQ4EDY");
      background-size: cover;
      background-repeat: repeat;
      & > div {
         background: #5d5d5d;
         border-radius: 12px;
         box-shadow: 5px 5px 15px, #494949 0 0 80px inset;
         outline: 2px solid #333;
         display: grid;
         grid-template-rows: auto auto;
      }
      .h2-bg {
         background-image: linear-gradient(180deg, #444, #0A0A0A);
         border-radius: 12px 12px 0 0;
         padding: 10px 20px 5px 20px;
         box-shadow: #CCCC00BB 0 2px 12px, #222 0 0 20px inset;
         clip-path: inset(0 0 -18px 0 round 12px);
      }
      h2 {
         font-family: "Montserrat", sans-serif;
         color: $yellow; //fallback for no gradient
         background: -webkit-linear-gradient(-90deg, darkmagenta, royalblue);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         margin: 0;
         white-space: pre;
      }
      h3 {
         margin: 30px 0 0 20px;
      }
      ul {
         list-style: none;
         padding-left: 0;
      }
      li {
         &:not(:last-child) {
            margin-bottom: 8px;
         }
         display: grid;
         grid-template-columns: [logo]70px [lang]auto;
         grid-column-gap: 5px;
         margin: 0 20px;
         > :nth-child(1) {
            justify-self: center;
         }
         > :nth-child(2) {
            justify-self: left;
         }
         &.indent {
            margin-left: 70px;
         }
         > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background: hsla(0,0%,0%,0.08);
            border-radius: 7px;
         }
      }
      .unreal-icon {
         color: #484848;
         width: 25px;
      }
      .blender-icon {
         color: #484848;
         width: 25px;
      }
   }
   &[id="resume"] {
      animation: fade-in 2s;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 15px;
      overflow: scroll;
      #resume-iframe {
         width: 845px;
         height: 1164px;
         border: none;
      }
      #download-link {
         display: block;
         width: 200px;
         border: 5px solid hsla(0,0%,0%,0.5);
         border-image-slice: 1;
         border-image-source: linear-gradient(135deg, darkmagenta, royalblue);
         padding: 2px;
         color: hsl(0,0%,26%);
         text-decoration: none;
         font-weight: bold;
         &:hover, &:focus-visible {
            text-decoration: underline;
         }
      }
      #loading-text {
         font-size: 40px;
         position: absolute;
         top: 0;
      }
   }
   &[id="transcript"] {
      animation: fade-in 2s;
      //display: flex;
      //flex-direction: column;
      //align-items: start;
      text-align: center;
      gap: $mainPad;
      #slider-container {
         height: $mainPad;
         width: calc(max(50vw, ($minWidth + 2*$mainPad)/2));
         display: flex;
         align-items: center;
         position: fixed;
         left: calc(max(25vw, ($minWidth + 2*$mainPad)/4));
         top: calc($headerHeight - 2px);
         background: black;
         color: white;
         border-radius: 0 0 20px 20px;
         padding: 0 16px;
         label {
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            padding-right: 15px;
         }
         #zoom-slider {
            width: 100%;
            &:focus-visible {
               outline: none;
               &:before {
                  position: fixed;
                  translate: -109px 20px;
                  content: "\002328";
                  color: $yellow;
                  font-size: 76px;
               }
            }
         }
      }
      #loading-text {
         position: absolute;
         width: calc(var(--doc-width) - 2*$mainPad);
         top: $mainPad;
         font-size: 40px;
      }
   }
   @keyframes slide-down {
      0% {transform: translateY(-3500px); width: 10px; padding: 0; overflow: hidden;}
      100% {transform: translateY(0); width: calc(100% - 2*$mainPad);}
   }
   @keyframes fade-bg-to-black {
      0% {background: transparent;}
      100% {background: black;}
   }
   @keyframes fade-in-special {
      0% {opacity: 0;}
      90% {opacity: 0.2;}
      100% {opacity: 1;}
   }
}

footer {
   position: fixed;
   height: $footerHeight;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 70px;
   background: hsl(0, 0%, 92%);
   color: hsl(0, 0%, 50%);
   box-shadow: 0 0 10px $shadow inset;
}

::-webkit-scrollbar {
   $color: hsl(60, 75%, 60%);
   $grad-y: linear-gradient(to bottom, darkmagenta, royalblue);
   $grad-x: linear-gradient(to right, darkmagenta, royalblue);
   $width: 6px;
   $radius: calc($width/2);
   -webkit-appearance: none;
   background: transparent;
   &:vertical {width: $width;}
   &:horizontal {height: $width;}
   &-button {display: none;}
   &-thumb {
      background-image: $grad-y;
      border-radius: $radius;
      &:hover {cursor: pointer;}
      &:vertical {background-image: $grad-y;}
      &:horizontal {background-image: $grad-x;}
   }
   &-track {
      background: transparent;
      &-piece {background: transparent;}
   }
}

.lang-icon {
   display: inline !important;
   width: 25px !important;
   transition: transform 0.35s;
   &.asm-icon {
      scale: 140%;
      translate: 0 2px;
      margin: 0 10px;
   }
   &.awk-icon {
      transform: scale(120%) translateY(5px);
      color: black;
   }
   &.aws-icon {
      margin: 0 8px;
   }
   &.aws-service-icon {
      border-radius: 3px;
      margin: 0 5px;
      translate: 0 3px;
   }
   &.bash-icon {
      scale: 120%;
      translate: 1px 3px;
   }
   &.cabal-icon {
      scale: 135%;
      background: #333333;
      border-radius: 1px;
   }
   &.cargo-icon {
      scale: 140%;
      translate: 0 3px;
   }
   &.c-icon {
      scale: 110%;
      translate: 0 4px;
      margin: 0 2px;
   }
   &.docker-icon {
      scale: 125%;
      margin: 0 5px 0 10px;
   }
   &.git-icon {
      scale: 110%;
      translate: 0 1px;
   }
   &.github-actions-icon {
      translate: 0 2px;
   }
   &.go-icon {
      transform: scale(200%) translateY(-1px);
      margin: 0 18px;
   }
   &.gradle-icon {
      scale: 140%;
      translate: 0 -2px;
   }
   &.guava-icon {
      scale: 110%;
      translate: 0 2px;
   }
   &.haskell-icon {
      scale: 130%;
      //background: hsla(0,0%,100%,0.15);
      //border-radius: 2px;
   }
   &.html-icon {
      margin: 0 4px;
   }
   &.java-icon {
      transform: scale(120%) translateY(1px);
   }
   &.javafx-icon {
      scale: 120%;
      margin: 0 3px;
   }
   &.jest-icon {
      translate: 0 3px;
      margin: 0 5px;
   }
   &.jquery-icon {
      scale: 125%;
      translate: 0 2px;
   }
   &.js-icon {
      transform: translateY(5px);
      margin: 0 5px;
   }
   &.junit-icon {
      translate: 0 2px;
   }
   &.linux-icon {
      scale: 110%;
   }
   &.make-icon {
      scale: 110%;
      translate: 0 3px;
   }
   &.mysql-icon {
      scale: 180%;
      margin: 0 18px;
   }
   &.nock-icon {
      scale: 140%;
      translate: 0 -4px;
   }
   &.npm-icon {
      scale: 160%;
   }
   &.php-icon {
      transform: scale(180%) translateY(1px);
      margin: 0 10px;
   }
   &.picocli-icon {
      scale: 180%;
      translate: -10px -3px;
      margin: 0 2px 0 21px;
   }
   &.prolog-icon {
      scale: 145%;
      translate: 0 1px;
      margin: 0 6px;
   }
   &.python-icon {
      scale: 120%;
      translate: 0 3px;
   }
   &.r-icon {
      scale: 130%;
      translate: 2px 0;
   }
   &.react-icon {
      translate: 0 3px;
      margin: 0 6px;
   }
   &.react-router-icon {
      scale: 140%;
   }
   &.rust-icon {
      scale: 120%;
      translate: 0 4px;
      margin: 0 3px;
      color: rgb(230,110,0);
   }
   &.sass-icon {
      scale: 125%;
      margin: 0 4px;
   }
   &.sbt-icon {
      scale: 135%;
      translate: 0 -3px;
   }
   &.scala-icon {
      color: red;
      translate: 0 3px;
   }
   &.scheme-icon {
      scale: 150%;
      translate: 0 2px;
      margin: 0 4px;
   }
   &.smalltalk-icon {
      transform: scale(140%) translateY(2px);
      margin: 0 6px;
   }
   &.terraform-icon {
      translate: 0 4px;
   }
   &.threejs-icon {
      background: #FAFAFA99;
      border-radius: 3px;
      translate: 0 3px;
      margin: 0 1px;
   }
   &.typescript-icon {
      translate: 0 3px;
      margin: 0 1px;
   }
   &.vagrant-icon {
      translate: 0 2px;
   }
   &.verilog-icon {
      scale: 150%;
      translate: 0 4px;
      margin: 0 10px;
   }
   &.virtualbox-icon {
      scale: 105%;
      translate: 0 3px;
   }
   &.wireshark-icon {
      scale: 120%;
      translate: 0 3px;
   }
   &.xilinx-icon {
      transform: scale(250%) translateY(-1px);
      margin: 0 22px;
      padding: 2px;
      border-radius: 2px;
      background: hsla(0, 0%, 0%, 0.85);
   }
   &.active {
      position: fixed;
      z-index: 1;
      top: calc(var(--doc-height) * 0.5);
      left: 50%;
      transform: scale(calc(1600% * $mainZoom));
      &.xilinx-icon {
         background: hsla(0, 0%, 0%, 0.85);
      }
      & + .subtext {
         position: fixed;
         text-align: center;
         top: calc(0.5*var(--doc-height) + $mainZoom*270px) !important;
         left: calc(50% - 385px);
         width: 800px;
         height: 170px;
         font-size: calc($mainZoom*120px);
         line-height: calc($mainZoom*160px);
         color: white !important;
         z-index: 2;
      }
      &:hover {
         cursor: zoom-out;
      }
   }
   &:not(.active):hover {
      cursor: zoom-in;
   }
}
.blender-icon {
   scale: 115%;
   translate: -6px 2px;
}
.unreal-icon {
   scale: 98%;
   translate: -3px 2px;
}

:has(.lang-icon.active):before {
   content: "";
   position: fixed;
   top: $headerHeight;
   left: 0;
   width: var(--doc-width);
   height: var(--doc-height);
   backdrop-filter: blur(4px);
   z-index: 1;
}

@keyframes fade-in {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
